/*通用样式*/
			*{
				margin:0;padding:0;
			}
			a{
				text-decoration: none;
			}
			
			/*安全线居中*/
			.c{
				width:960px;
				margin:0 auto;
			}
			/*清除浮动*/
			.cl{
				display: block;
				overflow: hidden;
			}
			/*头部*/
			.header{
				height:28px;
				line-height: 28px;	
				background: #f9f9f9;
				width:100%;
				font-size: 13px;
			}
			.huanyin{
				float: right;
			}
			.header a{
				color: #000;
			}
			.header a:hover{
				color: blue;
			}
			/*主要内容*/
			.content{
				height:538px;
				font-size: 15px;
				color:#666;
			}
			.logo{
				height: 50px;
				margin-top:17px;
				margin-bottom:29px;
				float: left;
			}
			.flow1_bg{
				width: 656px;
				height: 32px;
				background: url(../img/flow1_bg.png);
				float: right;
				margin-top:26px;
				margin-bottom:38px;
			}
			.flow1_bg span{
				display: inline-block;
				height: 32px;
				line-height: 32px;
				text-align: center;
				width:218px;
				color: #000;
			}
			/*表格内容*/
			.mycart{
				height:50px;
			}
			.flow1_table{
				height:346px;	
			}
			.flow1_table table{
				font-size:13px;
				height: 340px;
				width:958px;
				border: 1px solid #ccc;
				text-align: center;
				background: #fffdee;
			}
			.flow1_table th{
				height: 32px;
				background: url(../img/flow1_th_bg.png);
				border-top:1px solid red;
			}
			.flow1_table_left{
				height: 92px;
				width: 90px;
				float: left;
			}
			.flow1_table_left img{
				padding-top: 6px;
				padding-left: 5px;
			}
			.flow1_table_right{
				float: left;
				height: 34px;
				width: 258px;
				padding-top:33px;
				text-align: left;
			}
			.flow1_table td img{
				position: relative;
				top:2px;
			}
			.flow1_table a{
				color: #005ea7;
			}
			.flow1_table a:hover{
				text-decoration: underline;
			}
			/*表格结束*/
			.flow1_jiesuan{
				height: 32px;
				margin-top: 10px;
			}
			input{
				outline: none;
			}
			#jixu{
				float: left;
				width:80px;
				height: 32px;
				background: url(../img/flow1_th_bg.png);
				border:1px solid #ccc;
				border-radius: 2px;
				
			}
			#jiesuan{
				float: right;
				width:124px;
				height: 32px;
				background: #e2393c;
				border: none;
				font-size: 18px;
				color: #fff;
			}
			/*尾部*/
			.footer{
				height: 180px;
				text-align: center;
				font-size: 13px;
				color: #333;
				padding-top:18px;
			}
			.footer p{
				line-height: 30px;
			}
			.footer img{
				margin-top:10px
			}
			.footer a{
				color: #333333;
			}
			.footer a:hover{
				text-decoration: underline;
				color: blue;
			}